.container{
	background-color:#62d180;
	margin:auto;
}
p{
	font-size:20px;
}
h1{
	font-size: 60px;
	margin:30px;
}
h2{
	font-size:40px;
	margin:20px;
	color:white;
	font-weight:600; 
}
.list-group-item{
	background-color: #62d180;
}
.navbar-brand{
	margin-top: 10px;
	font-size: 45px;
	font-weight: 600;
}
.navbar-default{
	background-color: #62d180;
	height:80px;
}
@media (max-width: 768px) {
  .container {
    margin:40px;
  }
}